#Tablero {
  width: 100%;
  height: 100%;
  margin: 1vh;
}

#fila {
  display: flex;
}

#celula {
  width: 50px;
  height: 50px;
  margin: 1px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
}

#celula.viva {
  background: #dc3116;
}

#celula.viva:hover {
  background: #6339ec;
}

#celula.muerta {
  background: #e5c1ba;
}

#celula.muerta:hover {
  background: #0b2356;
}
