<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>admin-formulario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nav('/home')"> home </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">admin-formulario</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-input [(ngModel)]="titulo">TITULO</ion-input>
      </ion-card-header>
      <ion-card-content>
        <ion-input [(ngModel)]="subtitulo">SUBTITULO</ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let c of contador;let i">
      <ion-card-header>
        {{c}}
        </ion-card-header>
        <ion-card-content>
          <div>
          </div>
          <div>
          </div>
          <ion-button (click)="eliminar(c)"> eliminar </ion-button>
        </ion-card-content>
    </ion-card>
    <ion-button (click)="agregar()"> agregar</ion-button>
  </div>
</ion-content>
