<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      proyectos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nav('/admin-formulario')"> admin-formulario </ion-button>
      <ion-button (click)="nav('/conwaygame')"> conwaygame </ion-button>
      <ion-button (click)="nav('/simple-algorithms')"> simple-algorithms </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Proyectos segundo parcial Citlalli Jennifer Lopez Sauceda</strong>
    <p> <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
