<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SEGUNDO PARCIAL
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nav('/admin-formulario')"> admin-formulario </ion-button>
      <ion-button (click)="nav('/conwaygame')"> conwaygame </ion-button>
      <ion-button (click)="nav('/simple-algorithms')"> simple-algorithms </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile">
    <div class="profile-picture">
      <img src="../../assets/images/FOTO PERFIL.jpg" alt="Mi foto">
    </div>
    <div class="profile-details">
      <h1>Erwin Dayan Martinez Plaza</h1>
      <p class="description">Hola estos son mis proyectos de segundo parcial.</p>
      <div class="contact-info">
        <ion-button><a href="https://github.com/ErwinPlaza064">MI GIT</a> </ion-button>
      </div>
    </div>
  </div>
</ion-content>
